
    {% extends 'base.html' %}
    {% load static %}
    {% block body_block %}
    <div class="slide-one-item home-slider owl-carousel">
      
      {% for post in popular_posts %}
      
      <div class="site-cover site-cover-sm same-height overlay" style="background-image: url({{post.image.url}})">
        <div class="container">
          <div class="row same-height align-items-center">
            <div class="col-md-12 col-lg-6">
              <div class="post-entry">
                <span class="post-category text-white bg-success mb-3">{{post.catagory}}</span>
                <h2 class="mb-4"><a href="{% url 'blogpost' post.id %}">{{post.title}}</a></h2>
                <div class="post-meta align-items-center text-left">
                  <figure class="author-figure mb-0 mr-3 float-left"><img src="{{post.image.url}}" alt="Image" class="img-fluid"></figure>
                  <span class="d-inline-block mt-1">{{post.author}}</span>
                  <span>&nbsp;-&nbsp; {{post.created}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    


    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="rounded border p-4">
              <div class="row align-items-stretch">
                {% for post in top_posts %}
                {% if post.catagory != 'Top' and forloop.counter < 4 %}
                <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                  <a href="{% url 'blogpost' post.id %}" class="d-flex post-sm-entry">
                    <figure class="mr-3 mb-0"><img src="{{post.image.url}}" alt="Image" class="rounded"></figure>
                    <div>
                      <span class="post-category bg-danger text-white m-0 mb-2">{{post.catagory}}</span>
                      <h2 class="mb-0">{{post.title}}</h2>
                    </div>
                  </a>
                </div>
                {% else %}
                {% endif %}
                
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">

        <div class="row align-items-stretch retro-layout">
          {% for post in feature_posts %}
          
          {% if forloop.counter == 1 %}
          
          <div class="col-md-5">
            <a href="{% url 'blogpost' post.id %}" class="hentry img-1 h-100 gradient" style="background-image: url({{post.image.url}})">
              <span class="post-category text-white bg-danger">{{post.catagory}}</span>
              <div class="text">
                <h2>{{post.title}}</h2>
                <span>{{post.created}}</span>
              </div>
            </a>
          </div>


          <div class="col-md-7">
            {% elif forloop.counter == 2 %}
            <a href="{% url 'blogpost' post.id %}" class="hentry img-2 v-height mb30 gradient" style="background-image: url({{post.image.url}})">
              <span class="post-category text-white bg-success">{{post.catagory}}</span>
              <div class="text text-sm">
                <h2>{{post.title}}</h2>
                <span>{{post.created}}</span>
              </div>
            </a>
            {% elif forloop.counter == 3 %}
            <div class="two-col d-block d-md-flex">
              <a href="{% url 'blogpost' post.id %}" class="hentry v-height img-2 gradient" style="background-image: url({{post.image.url}})">
                <span class="post-category text-white bg-primary">{{post.catagory}}</span>
                <div class="text text-sm">
                  <h2>{{post.title}}</h2>
                  <span>{{post.created}}</span>
                </div>
              </a>
              {% elif forloop.counter == 5 %}
              <a href="{% url 'blogpost' post.id %}" class="hentry v-height img-2 ml-auto gradient" style="background-image: url({{post.image.url}})">
                <span class="post-category text-white bg-warning">{{post.catagory}}</span>
                <div class="text text-sm">
                  <h2>{{post.title}}</h2>
                  <span>{{post.created}}</span>
                </div>
              </a>
            </div>  
            
          </div>
          {% endif %}
          {% endfor %}
        </div>

      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 section-heading"><h2>Popular Posts</h2></div>
        </div>
        <div class="row">

          {% for post in popular_posts %}
          
          {% if forloop.counter == 1 %}
          
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="entry2">
              <a href="{% url 'blogpost' post.id %}"><img src="{{post.image.url}}" alt="Image" class="img-fluid rounded"></a>
              <span class="post-category text-white bg-success mb-3">{{post.catagory}}</span>
              <h2><a href="{% url 'blogpost' post.id %}">{{post.title}}</a></h2>
              <div class="post-meta align-items-center text-left clearfix">
                <figure class="author-figure mb-0 mr-3 float-left"><img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid"></figure>
                <span class="d-inline-block mt-1">By <a href="#">{{post.author}}</a></span>
                <span>&nbsp;-&nbsp; {{post.created}}</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
            </div>
          </div>
          {% elif forloop.counter == 2 %}

          <div class="col-lg-6 pl-lg-4">
            <div class="entry3 d-block d-sm-flex">
              <figure class="figure order-2"><a href="{% url 'blogpost' post.id %}"><img src="{{post.image.url}}" alt="Image" class="img-fluid rounded"></a></figure>
              <div class="text mr-4 order-1">
                <span class="post-category text-white bg-success mb-3">{{post.catagory}}</span>
                <h2><a href="{% url 'blogpost' post.id %}">{{post.title}}</a></h2>
                <span class="post-meta mb-3 d-block">{{post.created}}</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio.</p>
              </div>
            </div>
            {% elif forloop.counter == 3 %}
            <div class="entry3 d-block d-sm-flex">
              <figure class="figure order-2"><a href="{% url 'blogpost' post.id %}"><img src="{{post.image.url}}" alt="Image" class="img-fluid rounded"></a></figure>
              <div class="text mr-4 order-1">
                <span class="post-category text-white bg-success mb-3">{{post.catagory}}</span>
                <h2><a href="{% url 'blogpost' post.id %}">{{post.title}}</a></h2>
                <span class="post-meta mb-3 d-block">{{post.created}}</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio.</p>
              </div>
            </div>
            {% elif forloop.counter == 4 %}
            <div class="entry3 d-block d-sm-flex">
              <figure class="figure order-2"><a href="{% url 'blogpost' post.id %}"><img src="{{post.image.url}}" alt="Image" class="img-fluid rounded"></a></figure>
              <div class="text mr-4 order-1">
                <span class="post-category text-white bg-success mb-3">{{post.catagory}}</span>
                <h2><a href="{% url 'blogpost' post.id %}">{{post.title}}</a></h2>
                <span class="post-meta mb-3 d-block">{{post.created}}</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio.</p>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="section-heading mb-5 d-flex align-items-center">
              <h2>Sports</h2>
              <div class="ml-auto"><a href="#" class="view-all-btn">View All</a></div>
            </div>
            <div class="entry2 mb-5">
              <a href="single.html"><img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid rounded"></a>
              <span class="post-category text-white bg-primary mb-3">Sports</span>
              <h2><a href="single.html">The 20 Biggest Fintech Companies In America 2019</a></h2>
              <div class="post-meta align-items-center text-left clearfix">
                <figure class="author-figure mb-0 mr-3 float-left"><img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid"></figure>
                <span class="d-inline-block mt-1">By <a href="#">Carrol Atkinson</a></span>
                <span>&nbsp;-&nbsp; February 10, 2019</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio. laborum error in eum id veritatis quidem neque nesciunt at architecto nam ullam, officia unde dolores officiis veniam</p>
            </div>


            <div class="entry4 d-block d-sm-flex">
              <figure class="figure order-2"><a href="#"><img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid rounded"></a></figure>
              <div class="text mr-4 order-1">
                <span class="post-category text-white bg-primary mb-3">Sports</span>
                <h2><a href="single.html">The 20 Biggest Fintech Companies In America 2019</a></h2>
                <span class="post-meta mb-3 d-block">May 12, 2019</span>
              </div>
            </div>

            <div class="entry4 d-block d-sm-flex">
              <figure class="figure order-2"><a href="single.html"><img src="{% static 'images/img_4.jpg' %}" alt="Image" class="img-fluid rounded"></a></figure>
              <div class="text mr-4 order-1">
                <span class="post-category text-white bg-primary mb-3">Sports</span>
                <h2><a href="single.html">The 20 Biggest Fintech Companies In America 2019</a></h2>
                <span class="post-meta mb-3 d-block">May 12, 2019</span>
              </div>
            </div>

            <div class="entry4 d-block d-sm-flex">
              <figure class="figure order-2"><a href="single.html"><img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid rounded"></a></figure>
              <div class="text mr-4 order-1">
                <span class="post-category text-white bg-primary mb-3">Sports</span>
                <h2><a href="single.html">The 20 Biggest Fintech Companies In America 2019</a></h2>
                <span class="post-meta mb-3 d-block">May 12, 2019</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="section-heading mb-5 d-flex align-items-center">
              <h2>Travel</h2>
              <div class="ml-auto"><a href="#" class="view-all-btn">View All</a></div>
            </div>
            <div class="entry2 mb-5">
              <a href="single.html"><img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid rounded"></a>
              <span class="post-category text-white bg-danger mb-3">Travel</span>
              <h2><a href="single.html">The 20 Biggest Fintech Companies In America 2019</a></h2>
              <div class="post-meta align-items-center text-left clearfix">
                <figure class="author-figure mb-0 mr-3 float-left"><img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid"></figure>
                <span class="d-inline-block mt-1">By <a href="#">Carrol Atkinson</a></span>
                <span>&nbsp;-&nbsp; February 10, 2019</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio. laborum error in eum id veritatis quidem neque nesciunt at architecto nam ullam, officia unde dolores officiis veniam</p>
            </div>


            <div class="entry4 d-block d-sm-flex">
              <figure class="figure order-2"><a href="single.html"><img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid rounded"></a></figure>
              <div class="text mr-4 order-1">
                <span class="post-category text-white bg-danger mb-3">Travel</span>
                <h2><a href="single.html">The 20 Biggest Fintech Companies In America 2019</a></h2>
                <span class="post-meta mb-3 d-block">May 12, 2019</span>
              </div>
            </div>

            <div class="entry4 d-block d-sm-flex">
              <figure class="figure order-2"><a href="single.html"><img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid rounded"></a></figure>
              <div class="text mr-4 order-1">
                <span class="post-category text-white bg-danger mb-3">Travel</span>
                <h2><a href="single.html">The 20 Biggest Fintech Companies In America 2019</a></h2>
                <span class="post-meta mb-3 d-block">May 12, 2019</span>
              </div>
            </div>

            <div class="entry4 d-block d-sm-flex">
              <figure class="figure order-2"><a href="single.html"><img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid rounded"></a></figure>
              <div class="text mr-4 order-1">
                <span class="post-category text-white bg-danger mb-3">Travel</span>
                <h2><a href="single.html">The 20 Biggest Fintech Companies In America 2019</a></h2>
                <span class="post-meta mb-3 d-block">May 12, 2019</span>
              </div>
            </div>
          </div>


          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="section-heading mb-5 d-flex align-items-center">
              <h2>Lifestyle</h2>
              <div class="ml-auto"><a href="#" class="view-all-btn">View All</a></div>
            </div>
            <div class="entry2 mb-5">
              <a href="single.html"><img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid rounded"></a>
              <span class="post-category text-white bg-warning mb-3">Lifestyle</span>
              <h2><a href="single.html">The 20 Biggest Fintech Companies In America 2019</a></h2>
              <div class="post-meta align-items-center text-left clearfix">
                <figure class="author-figure mb-0 mr-3 float-left"><img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid"></figure>
                <span class="d-inline-block mt-1">By <a href="#">Carrol Atkinson</a></span>
                <span>&nbsp;-&nbsp; February 10, 2019</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio. laborum error in eum id veritatis quidem neque nesciunt at architecto nam ullam, officia unde dolores officiis veniam</p>
            </div>


            <div class="entry4 d-block d-sm-flex">
              <figure class="figure order-2"><a href="single.html"><img src="{% static 'images/img_4.jpg' %}" alt="Image" class="img-fluid rounded"></a></figure>
              <div class="text mr-4 order-1">
                <span class="post-category text-white bg-warning mb-3">Lifestyle</span>
                <h2><a href="single.html">The 20 Biggest Fintech Companies In America 2019</a></h2>
                <span class="post-meta mb-3 d-block">May 12, 2019</span>
              </div>
            </div>

            <div class="entry4 d-block d-sm-flex">
              <figure class="figure order-2"><a href="single.html"><img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid rounded"></a></figure>
              <div class="text mr-4 order-1">
                <span class="post-category text-white bg-warning mb-3">Lifestyle</span>
                <h2><a href="single.html">The 20 Biggest Fintech Companies In America 2019</a></h2>
                <span class="post-meta mb-3 d-block">May 12, 2019</span>
              </div>
            </div>

            <div class="entry4 d-block d-sm-flex">
              <figure class="figure order-2"><a href="single.html"><img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid rounded"></a></figure>
              <div class="text mr-4 order-1">
                <span class="post-category text-white bg-warning mb-3">Lifestyle</span>
                <h2><a href="single.html">The 20 Biggest Fintech Companies In America 2019</a></h2>
                <span class="post-meta mb-3 d-block">May 12, 2019</span>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    {% endblock body_block %}